* {
  font-family: "Courier New", Courier, monospace;
}

ul {
  background-color: #769ba3;
  height: auto;
  width: 400px;
  padding: 50px;
  border: solid black 10px;
  border-radius: 5px;
  margin: 10px;
}

h1 {
  border-bottom: solid #076399 5px;
  margin: 30px;
  width: 400px;
}

